body {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.intro{
  position: relative;
  height: 100vh;
 background: url(../img/backgrounds/euphoria-bg.png) center no-repeat;
}

.intro__text {
position: absolute;
   top: 50%;
   transform: translate(0, -50%);
   left: 40px;
   width: 40%;
}

.intro__header {
font-weight: 700;
font-size: 46px;
line-height: 56px;
color: #FFFFFF;
margin-bottom: 15px;
}

.intro__description {
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
margin-bottom: 20px;
}

.intro__button {
background-color: #F9D621;
font-weight: 600;
font-size: 24px;
color: #454545;
text-decoration: none;
border: none;
border-radius: 85px;
padding: 13px;
box-shadow: 2px 2px 9px 4px rgba(253, 207, 45, 0.49);
transition: linear 0.2s;
}

.intro__button:hover {
  transform: scale(1.07);
}

.section {
  position: relative;
  height: 100vh;
}

.section.a-premier{
 background: url(../img/backgrounds/westworld-bg.png) center no-repeat;
}
.section.a-classic{
 background: url(../img/backgrounds/game-of-thrones-bg.png) center no-repeat;
}
.section.a1{
 background: url(../img/backgrounds/devils-bg.png) center no-repeat;
}
.section.contacts{
 background-color:#FFE457;
}

.section__text {
  position:absolute;
  bottom:0;
  right:0;
  display: flex;
  align-items: center;
  padding: 0 40px 30px 40px;
  max-width: 100vw;
}

.section__logo {
  margin-right: 20px;
}

.section__header {
  font-weight: 700;
font-size: 36px;
line-height: 44px;
color: #FFFFFF;
margin-bottom: 15px;
text-transform: uppercase;
}

.section__description {
  font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
}

.contacts-container {
position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
   left: 50%;
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.contacts-text {
width: 30%;
}
.contacts-text__header {
  font-weight: 700;
font-size: 48px;
line-height: 59px;
margin-bottom: 45px;
}

.contacts-text__description {
font-size: 26px;
line-height: 32px;
}
.contacts-workers {
  width: 60%;
  display: flex;
}

.contacts-worker {
  text-align: center;
  margin-left: 100px;
}

.contacts-workers__img {
border-radius: 50%;
border: 6px solid rgba(69, 69, 69, 0.43);
}

.contacts-workers__job {
  font-size: 13px;
line-height: 16px;
color: rgba(0, 0, 0, 0.6);
margin-top: 10px;margin-bottom: 7px;
}

.contacts-workers__name {
font-size: 24px;
line-height: 29px;
margin-bottom: 15px;
}

.contacts-workers__mail {
  font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #000000;
text-decoration: underline;
}